{% extends 'base.html' %}

{% block title %}
{{ folder_name }}
{% endblock %}

{% block content %} 
<div class="container-fluid">
    <h1>Scripts de Testes: {{ folder_name }}</h1>
    <br>    

    <!-- Dropdown Estilizado -->
    <div class="form-group">
        <label for="testSelect">Selecione um Teste</label>
        <select class="form-control" id="testSelect">
            <option value="" disabled selected>Escolha um teste</option>
            {% for folder in folders %}
            <option value="{{ folder }}">{{ folder }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <button type="button" class="btn btn-primary" disabled>Botão Esquerda</button>
        </div>
        <div class="col-6 text-end">
            <button type="button" class="btn btn-primary" disabled>Botão Direita</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
    